@framework-namespace: skote-framework;

// index
@framework-header-index:1050;

@framework-sider-index:1000;


@framework-sider-width:240px;

@framework-sider-collapsed-width:70px;

@framework-header-height:54px;

@framework-header-trigger-size:18px;

@framework-header-search-width:192px;

@framework-header-search-height:38px;



